<!-- <base href="/home"> -->
<div ng-controller="homeController" style="font-family: 'Nunito';">
    <div class="parallax-container hide-on-small-only">
        <div class="parallax">
            <img src="./img/mutualFrontal_mini.jpg">
        </div>
    </div>

    <div class="section sectionGradient ">
        <div class="row show-on-small hide-on-med-and-up">
            <div class="col s12">
                <ul class="collapsible popout">
                    <li>
                        <div class="collapsible-header center-align">
                            <h4>Quienes Somos?
                                <i class="material-icons">expand_more</i>
                            </h4>
                        </div>
                        <div class="collapsible-body">
                            <span> El 25 de diciembre de 1905 fue fundada la Asociación Mutual Euroamericana en el seno de la colectividad
                                portuguesa. Esta sociedad nació en la ciudad de Rosario y sus primeros Estatutos fueron aprobados
                                por la Asamblea General Extraordinaria el 15 de julio de 1906. Su origen se remonta al nacimiento
                                mismo del cooperativismo y mutualismo en la Argentina, como consecuencia del asentamiento
                                de contingentes europeos y en momentos de carencias casi totales en el campo social. Cuando
                                se instala en San Nicolás, allá por enero de 2001, pasa a denominarse Asociación Mutual Euroamericana,
                                dejando de lado la identificación de Sociedad Portuguesa de Socorros Mutuos. El 27 de julio
                                de 2007 se inauguró oficialmente la nueva Casa Central en San Nicolás, en el imponente edificio
                                de Nación 340 planta alta, convirtiéndose en todo un orgullo para directivos y asociados.</span>
                        </div>
                    </li>
            </div>
            <div class="col s12">
                <div class="carousel">
                    <a class="carousel-item" href="#one!">
                        <img src="./img/mutualFrontal.jpg">
                    </a>
                    <a class="carousel-item" href="#two!">
                        <img src="./img/pareja.jpg">
                    </a>
                    <a class="carousel-item" href="#three!">
                        <img src="./img/servicio.jpg">
                    </a>
                </div>
            </div>
            <div class="col s12">
                <ul class="collapsible popout">
                    <li>
                        <div class="collapsible-header center-align">
                            <h4>Nuestros Servicios
                                <i class="material-icons">expand_more</i>
                            </h4>
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="col s12">
                                    <div class="center promo">
                                        <i class="medium material-icons red-text text-lighten-1">local_hospital</i>
                                        <h4 class="header promo-caption">Servicios Sociales</h4>
                                        <div class="col s12">
                                            <ul class="tabs">
                                                <li class="tab col s6">
                                                    <a class="active" href="#EurosaludMobile">Eurosalud</a>
                                                </li>
                                                <li class="tab col s6">
                                                    <a href="#EurosepelioMobile">Eurosepelio</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="EurosaludMobile" class="col s12">
                                            <p class="light center">
                                                <h5>Eurosalud: </h5>es un servicio que Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit.</p>
                                            <a ui-sref="obraSocial" class="waves-effect waves-light btn passionGradient">Ver mas</a>
                                        </div>
                                        <div id="EurosepelioMobile" class="col s12">
                                            <p class="light center">
                                                <h5>Eurosepelio:</h5> es un servicio que Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit.</p>
                                            <a class="waves-effect waves-light btn passionGradient">Ver mas</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <br class="">
                                <br class="">
                                <hr class="smaller_sexy_line ">
                                <div class="col s12">
                                    <div class="center promo">
                                        <i class="medium material-icons goldColor">monetization_on</i>
                                        <h4 class="header promo-caption">Servicios Financieros</h4>

                                        <div class="col s12">
                                            <ul class="tabs servFinTab">
                                                <li class="tab col s6 servFinColor">
                                                    <a class="active" href="#ArgencardMobile">Argencard</a>
                                                </li>
                                                <li class="tab col s6 servFinColor">
                                                    <a href="#PrestamosMobile">Prestamos</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="ArgencardMobile" class="col s12">
                                            <p class="light center">
                                                <h5>Argencard: </h5>es un servicio que Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit.</p>
                                            <a ui-sref="obraSocial" class="waves-effect waves-light btn sulphurGradient">Ver mas</a>
                                        </div>
                                        <div id="PrestamosMobile" class="col s12">
                                            <p class="light center">
                                                <h5>Prestamos:</h5> es un servicio que Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit.</p>
                                            <a class="waves-effect waves-light btn sulphurGradient">Ver mas</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <br>
                                <br>
                                <hr class="smaller_sexy_line ">
                                <div class="col s12">
                                    <div class="center promo">
                                        <i class="medium material-icons blue-text text-lighten-2">new_releases</i>
                                        <h4 class="header promo-caption">El Informador</h4>
                                        <p class="light center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere ultricies
                                            enim vitae sollicitudin.
                                        </p>
                                        <a class="waves-effect waves-light btn coolBluesGradient">Ver mas</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row container wow slideInLeft hide-on-small-only" data-wow-delay="1.9s">

            <h2 class="header center-align  hide-on-small-only">Quienes Somos</h2>
            <hr class="sexy_line  hide-on-small-only">
            <p class=" hide-on-small-only">
                El 25 de diciembre de 1905 fue fundada la Asociación Mutual Euroamericana en el seno de la colectividad portuguesa. Esta
                sociedad nació en la ciudad de Rosario y sus primeros Estatutos fueron aprobados por la Asamblea General
                Extraordinaria el 15 de julio de 1906. Su origen se remonta al nacimiento mismo del cooperativismo y mutualismo
                en la Argentina, como consecuencia del asentamiento de contingentes europeos y en momentos de carencias casi
                totales en el campo social. Cuando se instala en San Nicolás, allá por enero de 2001, pasa a denominarse
                Asociación Mutual Euroamericana, dejando de lado la identificación de Sociedad Portuguesa de Socorros Mutuos.
                El 27 de julio de 2007 se inauguró oficialmente la nueva Casa Central en San Nicolás, en el imponente edificio
                de Nación 340 planta alta, convirtiéndose en todo un orgullo para directivos y asociados.
            </p>
        </div>
    </div>

    <div class="parallax-container hide-on-small-only">
        <div class="parallax">
            <img src="./img/pareja.jpg">
        </div>
    </div>

    <div class="section sectionGradient hide-on-small-only">
        <div class="row wow zoomIn">
            <h2 class="header center-align">Nuestros Servicios</h2>
            <hr class="sexy_line">
            <div class="row">
                <div class="col m4">
                    <div class="center promo">
                        <i class="medium material-icons red-text text-lighten-1">local_hospital</i>
                        <h4 class="header promo-caption">Servicios Sociales</h4>
                        <div class="col s12">
                            <ul class="tabs">
                                <li class="tab col s6">
                                    <a class="active" href="#Eurosalud">Eurosalud</a>
                                </li>
                                <li class="tab col s6">
                                    <a href="#Eurosepelio">Eurosepelio</a>
                                </li>
                            </ul>
                        </div>
                        <div id="Eurosalud" class="col s12">
                            <p class="light center">
                                <h5>Eurosalud: </h5>es un servicio que Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Suspendisse libero neque, viverra et elementum a, placerat vitae enim. Donec nec lectus eget
                                urna cursus fringilla nec at augue.</p>
                            <a ui-sref="obraSocial" class="waves-effect waves-light btn passionGradient">Ver mas</a>
                        </div>
                        <div id="Eurosepelio" class="col s12">
                            <p class="light center">
                                <h5>Eurosepelio:</h5> es un servicio que Curabitur porta, sem non hendrerit tristique, augue
                                quam porta sapien, quis ultricies ipsum sem non nisl. Cras quis pellentesque elit.</p>
                            <a class="waves-effect waves-light btn passionGradient">Ver mas</a>
                        </div>
                    </div>
                </div>
                <div class="col m5">
                    <div class="center promo">
                        <i class="medium material-icons goldColor">monetization_on</i>
                        <h4 class="header promo-caption">Servicios Financieros</h4>

                        <div class="col s12">
                            <ul class="tabs servFinTab">
                                <li class="tab col s4 servFinColor">
                                    <a class="active" href="#CDA">Caja de Ahorros</a>
                                </li>
                                <li class="tab col s4 servFinColor">
                                    <a href="#Prestamos">Ayudas Economicas</a>
                                </li>
                                <li class="tab col s4 servFinColor">
                                    <a href="#AAT">Ahorros a Termino</a>
                                </li>
                            </ul>
                        </div>
                        <div id="CDA" class="col s12">
                            <p class="light center">
                                <h5>Caja de Ahorros: </h5>es un servicio que Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <a ui-sref="obraSocial" class="waves-effect waves-light btn sulphurGradient">Ver mas</a>
                        </div>
                        <div id="Prestamos" class="col s12">
                            <p class="light center">
                                <h5>Ayudas Economicas:</h5> es un servicio que Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <a class="waves-effect waves-light btn sulphurGradient">Ver mas</a>
                        </div>
                        <div id="AAT" class="col s12">
                            <p class="light center">
                                <h5>Ahorros a Termino:</h5> es un servicio que Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <a class="waves-effect waves-light btn sulphurGradient">Ver mas</a>
                        </div>
                    </div>
                </div>
                <div class="col m3">
                    <div class="center promo">
                        <i class="medium material-icons blue-text text-lighten-2">new_releases</i>
                        <h4 class="header promo-caption">El Informador</h4>
                        <p class="light center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere ultricies enim vitae sollicitudin.
                        </p>
                        <a class="waves-effect waves-light btn coolBluesGradient">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container hide-on-small-only">
        <div class="parallax">
            <img src="./img/servicio.jpg">
        </div>
    </div>
</div>