<div class="row bodyGradient flex" ng-controller="homeController">
    <style>
        .slider .indicators {
            top: 375px !important;
            z-index: 4;
        }
    </style>
    <div class="col s12 m6">
        <div style="font-family: Nunito">
            <h3 class="center-align">¿Quienes Somos?</h3>
            <hr class="med_sexy_line">
            <p class="blue-grey-text text-darken-3">El 25 de diciembre de 1905 fue fundada la Asociación Mutual Euroamericana en el seno de la colectividad portuguesa.
                Esta sociedad nació en la ciudad de Rosario y sus primeros Estatutos fueron aprobados por la Asamblea General
                Extraordinaria el 15 de julio de 1906. Su origen se remonta al nacimiento mismo del cooperativismo y mutualismo
                en la Argentina, como consecuencia del asentamiento de contingentes europeos y en momentos de carencias casi
                totales en el campo social. Cuando se instala en San Nicolás, allá por enero de 2001, pasa a denominarse
                Asociación Mutual Euroamericana, dejando de lado la identificación de Sociedad Portuguesa de Socorros Mutuos.
                El 27 de julio de 2007 se inauguró oficialmente la nueva Casa Central en San Nicolás, en el imponente edificio
                de Nación 340 planta alta, convirtiéndose en todo un orgullo para directivos y asociados.</p>
        </div>
        <div class="slider col s12">
            <ul class="slides">
                <li>
                    <img src="./img/room.jpg" alt="">
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="./img/pareja.jpg" alt="">
                    <div class="caption left-align">
                        <h3>Left Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="./img/mutualFrontal.jpg" alt="">
                    <div class="caption right-align">
                        <h3>Right Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src=".img/seedonhand.jpg" alt="">
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="col m6 s12">
        <h3 class="center-align" style="font-family: Nunito">Nuestros Servicios</h3>
        <hr class="med_sexy_line">
        <div class="col s12 m6">
            <div class="card card-home z-depth-5 blue-grey lighten-4">
                <div class="card-content center-align blue-text ">
                    <h5>
                        <strong>Servicios Sociales</strong>
                    </h5>
                    Conoce nuestros servicios sociales</div>
                <div class="card-content content-interno">
                    <h5 class="blue-text text-darken-2">Eurosalud</h5>
                    <div class="card blue-grey z-depth-1 lighten-5">
                        <div class="card-action">
                            <a class="btn-floating btn-large waves-effect waves-light red">
                                <i class="fas fa-medkit fa-lg"></i>
                            </a>
                            <a ui-sref="obraSocial" class="waves-effect waves-red red-text  btn-flat">
                                Salud
                            </a>
                        </div>
                        <div class="card-action">
                            <a class="btn-floating btn-large waves-effect waves-light green">
                                <i class="far fa-plus-square fa-lg"></i>
                            </a>
                            <a class="waves-effect waves-green green-text btn-flat">
                                Farmacia
                            </a>
                        </div>
                    </div>
                    <h5 class="blue-text text-darken-2">Eurosepelio</h5>
                    <div class="card card-home blue-grey lighten-5">
                        <div class="card-action">
                            <a class="btn-floating btn-large waves-effect waves-light orange">
                                <i class="fab fa-pagelines fa-lg"></i>
                            </a>
                            <a class="waves-effect waves-orange orange-text  btn-flat">
                                Sepelio
                            </a>
                        </div>
                        <div class="card-action">
                            <a class="btn-floating btn-large waves-effect waves-light red">
                                <i class="fab fa-pagelines fa-lg"></i>
                            </a>
                            <a class="waves-effect waves-red  red-text  btn-flat">
                                Nicho
                            </a>
                        </div>
                        <div class="card-action ">
                            <a class="btn-floating btn-large waves-effect waves-light green">
                                <i class="fas fa-leaf fa-lg"></i>
                            </a>
                            <a class="waves-effect waves-green green-text btn-flat">
                                Parcela
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card card-home z-depth-5 blue-grey lighten-4">
                <div class="card-content center-align teal-text">
                    <h5>
                        <strong>Servicios Financieros</strong>
                    </h5>
                    Conoce nuestros servicios financieros
                </div>
                <div class="card-content  content-interno">
                    <div class="card blue-grey lighten-5">
                        <div class="card-action">
                            <a class="btn-floating btn-large waves-effect waves-light teal ">
                                <i class="fas fa-handshake fa-lg"></i>
                            </a>
                            <a class="waves-effect waves-teal teal-text   btn-flat">
                                Prestamos
                            </a>
                        </div>
                        <div class="card-action">
                            <a class="btn-floating btn-large waves-effect waves-light red">
                                <i class="fas fa-credit-card fa-lg"></i>
                            </a>
                            <a class="waves-effect waves-red red-text  btn-flat">
                                Argencard
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-home z-depth-5 blue-grey lighten-4">
                <div class="card-content center-align green-text ">
                    <h5>
                        <strong>El Informador</strong>
                    </h5>
                    Lee todas nuestras notas y noticias
                </div>
                <div class="card-content content-interno">
                    <div class="card blue-grey lighten-5">
                        <div class="card-action">
                            <a class="btn-floating btn-large waves-effect waves-light purple lighten-2">
                                <i class="material-icons">import_contacts</i>
                            </a>
                            <a class="waves-effect waves-purple purple-text  btn-flat">
                                Notas
                            </a>
                        </div>
                        <div class="card-action">
                            <a class="btn-floating btn-large waves-effect waves-light orange">
                                <i class="fas fa-newspaper fa-lg"></i>
                            </a>
                            <a class="waves-effect waves-orange orange-text  btn-flat">
                                Noticias
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>