<div ng-controller="obraSocController" class="bodyGradient">
    <style>
        .slider .indicators {
            top: 475px !important;
            z-index: 4;
        }
    </style>
    <div class="row">
        <div class="col m12 hide-on-small-only" style="padding:0px !important;">
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img class="responsive-img" src="./img/pareja.jpg" alt="">
                        <div class="caption center-align">
                            <h3>This is our big Tagline!</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                    <li>
                        <img class="responsive-img" src="./img/mutualFrontal.jpg" alt="">
                        <div class="caption left-align">
                            <h3>Titulo de la nota/ noticia</h3>
                            <h5 class="light grey-text text-lighten-3">Link a la pagina de la nota</h5>
                        </div>
                    </li>
                    <li>
                        <img class="responsive-img" src="./img/couchone.jpg" alt="">
                        <div class="caption right-align">
                            <h3>Right Aligned Caption</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col m3 s6">
                <div class="card">
                    <div class="card-image">
                        <img src="./img/PillsWhite_mini.jpg">
                        <button data-target="modalSevSociales" class="btn modal-trigger btn-floating halfway-fab waves-effect waves-light blue pulse">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col m3 s6">
                <div class="card">
                    <div class="card-image">
                        <img src="./img/MedicoWhite_mini.jpg">
                        <button data-target="modalCartilla" class="btn modal-trigger btn-floating halfway-fab waves-effect waves-light blue pulse">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col m3 s6">
                <div class="card">
                    <div class="card-image">
                        <img src="./img/FileWhite_mini.jpg">
                        <button data-target="modalPlanes" class="btn modal-trigger btn-floating halfway-fab waves-effect waves-light blue pulse">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col m3 s6">
                <div class="card">
                    <div class="card-image">
                        <img src="./img/HospitalWhite_mini.jpg">
                        <button data-target="modalCentros" class="btn modal-trigger btn-floating halfway-fab waves-effect waves-light blue pulse">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalPlanes" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Conoce todos los planes que tenemos para vos</h4>
            <div>
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">filter_drama</i>First</div>
                        <div class="collapsible-body">
                            <span>Lorem ipsum dolor sit amet.</span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">place</i>Second</div>
                        <div class="collapsible-body">
                            <span>Lorem ipsum dolor sit amet.</span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">whatshot</i>Third</div>
                        <div class="collapsible-body">
                            <span>Lorem ipsum dolor sit amet.</span>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Volver</a>
        </div>
    </div>
    <div id="modalCentros" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Centros de atención</h4>
            <div class="row">
                <div class="col m4 s12">
                    <p>
                        <strong>Falcon 513</strong>
                    </p>
                    <p>Telefonos: 0336-4427251 4434156</p>
                    <p>Horarios de atención: 8:30 a 12:30hs y 15 a 19:30hs</p>
                </div>
                <div class="col m4 s12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3333.100616409112!2d-60.21896158484753!3d-33.342321080805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b767815fa2a173%3A0x90ca83f8a21575f5!2sAv.+Falc%C3%B3n+513%2C+2900+San+Nicol%C3%A1s+de+Los+Arroyos%2C+Buenos+Aires!5e0!3m2!1ses!2sar!4v1532617853261"
                       class="hide-on-small-only"  width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6666.201239003755!2d-60.21677300000001!3d-33.342321!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b767815fa2a173%3A0x90ca83f8a21575f5!2sAv.+Falc%C3%B3n+513%2C+2900+San+Nicol%C3%A1s+de+Los+Arroyos%2C+Buenos+Aires!5e0!3m2!1ses-419!2sar!4v1532714482299"
                           class="hide-on-med-and-up" width="200" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Volver</a>
        </div>
    </div>
    <div id="modalSevSociales" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Farmacia</h4>
            <p>
                <strong>Beneficios Exclusivos!</strong>
            </p>
            <p>Presentando el ultimo recibo de pago de cuta societaria accedes a ellos automaticamente</p>
            <br>
            <div>
                <ul class="collection with-header">
                    <li class="collection-header">
                        <h4>Beneficios Actuales</h4>
                    </li>
                    <li class="collection-item"><div>Descuento por pago en efectivo<span class="new badge" data-badge-caption="">10%</span></div></li>
                    <li class="collection-item"><div>Descuento por pago en efectivo<span class="new badge red" data-badge-caption="">10%</span></div></li>
                    <li class="collection-item"><div>Descuento por pago en efectivo<span class="new badge blue" data-badge-caption="">10%</span></div></li>

                </ul>
            </div>
            <p>
                <strong>Horarios de atencion:</strong>
            </p>
            <p>de 8:30 a 12:30 y de 15:30 a 19:30</p>
            <br>
            <p>
                <strong>Telefonos:</strong> 0336-4427251 4434156</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Volver</a>
        </div>
    </div>
    <div id="modalCartilla" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Busca en la cartilla a todos nuestros medicos</h4>

            <div class="row">
                <div class="input-field col s12">
                    <select multiple>
                        <option value="" disabled selected>Especialidad</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Busca por Especialidad</label>
                </div>
                <div class="col m12">
                    <table class="striped highlight">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Especialidad</th>
                                <th>Direccion</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Juan Perez</td>
                                <td>Clinico</td>
                                <td>Falcon 513</td>
                            </tr>
                            <tr>
                                <td>Martin Lopez</td>
                                <td>Traumatologo</td>
                                <td>Falcon 513</td>
                            </tr>
                            <tr>
                                <td>Juan Perez</td>
                                <td>Clinico</td>
                                <td>Falcon 513</td>
                            </tr>
                            <tr>
                                <td>Martin Lopez</td>
                                <td>Traumatologo</td>
                                <td>Falcon 513</td>
                            </tr>
                            <tr>
                                <td>Juan Perez</td>
                                <td>Clinico</td>
                                <td>Falcon 513</td>
                            </tr>
                            <tr>
                                <td>Martin Lopez</td>
                                <td>Traumatologo</td>
                                <td>Falcon 513</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">volver</a>
        </div>
    </div>
</div>