@font-face {
    src: url(../fonts/Oxygen/Oxygen-Regular.ttf) format('truetype');
    font-family: Oxigen;
}

@font-face {
    src: url(../fonts/Oxygen/Oxygen-Bold.ttf) format('truetype');
    font-family: OxigenBold;
}

@font-face {
    src: url(../fonts/Nunito/Nunito-Regular.ttf) format('truetype');
    font-family: Nunito;
}

@font-face {
    src: url(../fonts/Nunito/Nunito-Black.ttf) format('truetype');
    font-family: NunitoBlack;
}

@font-face {
    src: url(../fonts/Nunito/Nunito-Bold.ttf) format('truetype');
    font-family: NunitoBold;
}

@font-face {
    src: url(../fonts/Poiret_One/PoiretOne-Regular.ttf) format('truetype');
    font-family: PoiretOne;
}

@font-face {
    src: url(../fonts/Righteous/Righteous-Regular.ttf) format('truetype');
    font-family: Rigtheous;
}

.parallax img {
    width: 85% !important;
}

.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sexy_line {
    display: block;
    border: none;
    color: white;
    height: 1px;
    background: #00695c;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#00695c), to(#eceeef42));
    margin-top: -10px;
    margin-bottom: 25px;
}

.med_sexy_line {
    display: block;
    border: none;
    color: white;
    height: 1px;
    background: #00695c;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 270, from(#00695c), to(#eceeef42));
    margin-top: -10px;
    margin-bottom: 25px;
}

.smaller_sexy_line {
    display: block;
    border: none;
    color: white;
    height: 1px;
    background: #00695c;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from(#00695c), to(#fff));
    margin-top: -10px;
    margin-bottom: 25px;
}

.sectionGradient {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.navGradient {
    background-image: linear-gradient(to right, #09203f 0%, #537895 100%);
}

.iconGradient {
    color: linear-gradient(to right, #09203f 0%, #537895 100%);
}

.sideNavGradient {
    background-image: linear-gradient(to top, #537895 0%, #fafbfc 70%);
}

.bodyGradient {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    margin-bottom: 0 !important;
    padding-bottom: 2% !important;
}

.carousel-mutual {
    height: 500px !important;
}

.nav-header {
    font-family: OxigenBold;
    font-size: x-large;
}

.nav-header svg {
    margin-left: 1%;
}

.sidenav {
    font-family: OxigenBold;
}

.card-home {
    font-family: Nunito;
}

.card-content {
    padding-bottom: 1% !important;
}

.content-interno {
    padding-top: 0 !important;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.goldColor {
    color: #ffd700 !important;
}

.passionGradient {
    /* background-image: linear-gradient(to right, #e53935 0%, #e35d5b 100%); */
    background: #e53935;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ff8f94, #ba162c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ff8f94, #ba162c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sulphurGradient {
    background: #c09b32de;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fcda35, #c09b32de);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fcda35, #d4a338de);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.coolBluesGradient {
    background: #56CCF2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.servFinColor a {
    color: #9c881a !important;
}

.tabs .tab.servFinColor a:hover,
.tabs .tab.servFinColor a.active {
    color: #807015 !important;
}

.tabs.servFinTab>.indicator {
    background-color: #ffd700 !important;
}

.tabs.servFinTab .tab a:focus, .tabs.servFinTab .tab a:focus.active{
  background-color: #f6f4b233 !important;
}


.cardsGradient {
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}


.form-nav .input-field label {
    color: #00796b;
}

.form-nav .input-field input[type=text]:focus+label {
    color: #00796b;
}

.form-nav .input-field input[type=text]:focus {
    border-bottom: 1px solid #00796b;
    box-shadow: 0 1px 0 0 #00796b;
}

.form-nav .input-field input[type=text].valid {
    border-bottom: 1px solid #00796b;
    box-shadow: 0 1px 0 0 #00796b;
}

.form-nav .input-field input[type=text].invalid {
    border-bottom: 1px solid #00796b;
    box-shadow: 0 1px 0 0 #00796b;
}

.form-nav .input-field .prefix.active {
    color: #00796b;
}