
.me-skin .gradient {
    background: #222735;
    background: -webkit-linear-gradient(315deg,#222735 0,#4f68a6 100%);
    background: -o-linear-gradient(315deg,#222735 0,#4f68a6 100%);
    background: linear-gradient(135deg,#222735 0,#4f68a6 100%)
  }
  
  .me-skin .primary-color,.me-skin .stepper li.active a .circle,.me-skin .stepper li.completed a .circle,.stepper li.active a .me-skin .circle,.stepper li.completed a .me-skin .circle {
    background-color: #309e9e!important
  }
  
  .me-skin .navbar {
    background-color: #0f2575;
    color: rgb(32, 158, 60);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif    
  }
  
  .me-skin .navbar .navbar-nav .nav-item .dropdown-menu a:active,.me-skin .navbar .navbar-nav .nav-item .dropdown-menu a:focus,.me-skin .navbar .navbar-nav .nav-item .dropdown-menu a:hover {
    background-color: #36b66b
  }
  
  .me-skin .navbar.double-nav a {
    color: #fff
  }
  
  .me-skin .page-footer {
    background-color: #353b50
  }
  
  .me-skin .side-nav {
    background-color: #4c5678
  }
  
  .me-skin .side-nav .logo-wrapper>div {
    background-color: transparent!important
  }
  
  .me-skin .side-nav .sn-avatar-wrapper img {
    border: 3px solid #2b8f8f
  }
  
  .me-skin .side-nav .social {
    border-bottom: 1px solid rgba(153,153,153,.3)
  }
  
  .me-skin .side-nav .social a:hover .fa {
    color: #40c6c6!important;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
  }
  
  .me-skin .side-nav .collapsible li {
    background-color: transparent
  }
  
  .me-skin .side-nav .collapsible li .collapsible-header {
    color: #fff;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
  }
  
  .me-skin .side-nav .collapsible li .collapsible-header.active,.me-skin .side-nav .collapsible li .collapsible-header:hover {
    background-color: rgba(37,207,207,.8)
  }
  
  .me-skin .side-nav .collapsible li .collapsible-body a {
    color: #fff
  }
  
  .me-skin .side-nav .collapsible li .collapsible-body a:hover {
    color: #40c6c6
  }
  
  .me-skin .side-nav .fa {
    color: #fff
  }
  
  .me-skin .side-nav .sidenav-bg.mask-strong:after,.me-skin .side-nav .sidenav-bg:after {
    background: rgba(14,15,32,.8)
  }
  
  .me-skin .side-nav .sidenav-bg.mask-light:after {
    background: rgba(14,15,32,.65)
  }
  
  .me-skin .side-nav .sidenav-bg.mask-slight:after {
    background: rgba(14,15,32,.5)
  }
  
  .me-skin .btn-primary {
    background-color: #40c6c6!important;
    color: #fff!important
  }
  
  .me-skin .btn-primary:hover {
    background-color: #54cccc
  }
  
  .me-skin .btn-primary.active,.me-skin .btn-primary:active,.me-skin .btn-primary:focus {
    background-color: #257b7b
  }
  
  .me-skin .btn-primary.dropdown-toggle {
    background-color: #40c6c6!important
  }
  
  .me-skin .btn-primary.dropdown-toggle:focus,.me-skin .btn-primary.dropdown-toggle:hover {
    background-color: #54cccc!important
  }
  
  .me-skin .btn-primary:not([disabled]):not(.disabled).active,.me-skin .btn-primary:not([disabled]):not(.disabled):active,.show>.me-skin .btn-primary.dropdown-toggle {
    background-color: #257b7b!important
  }
  
  .me-skin .primary-ic {
    color: #40c6c6!important
  }
  
  .me-skin .primary-ic:focus,.me-skin .primary-ic:hover {
    color: #40c6c6
  }
  
  .me-skin .btn-secondary {
    background-color: #7e51b4!important;
    color: #fff!important
  }
  
  .me-skin .btn-secondary:hover {
    background-color: #8b63bc
  }
  
  .me-skin .btn-secondary.active,.me-skin .btn-secondary:active,.me-skin .btn-secondary:focus {
    background-color: #4d306f
  }
  
  .me-skin .btn-secondary.dropdown-toggle {
    background-color: #7e51b4!important
  }
  
  .me-skin .btn-secondary.dropdown-toggle:focus,.me-skin .btn-secondary.dropdown-toggle:hover {
    background-color: #8b63bc!important
  }
  
  .me-skin .btn-secondary:not([disabled]):not(.disabled).active,.me-skin .btn-secondary:not([disabled]):not(.disabled):active,.show>.me-skin .btn-secondary.dropdown-toggle {
    background-color: #4d306f!important
  }
  
  .me-skin .secondary-ic {
    color: #7e51b4!important
  }
  
  .me-skin .secondary-ic:focus,.me-skin .secondary-ic:hover {
    color: #7e51b4
  }
  
  .me-skin .btn-default {
    background-color: #293756!important;
    color: #fff!important
  }
  
  .me-skin .btn-default:hover {
    background-color: #314267
  }
  
  .me-skin .btn-default.active,.me-skin .btn-default:active,.me-skin .btn-default:focus {
    background-color: #080b11
  }
  
  .me-skin .btn-default.dropdown-toggle {
    background-color: #293756!important
  }
  
  .me-skin .btn-default.dropdown-toggle:focus,.me-skin .btn-default.dropdown-toggle:hover {
    background-color: #314267!important
  }
  
  .me-skin .btn-default:not([disabled]):not(.disabled).active,.me-skin .btn-default:not([disabled]):not(.disabled):active,.show>.me-skin .btn-default.dropdown-toggle {
    background-color: #080b11!important
  }
  
  .me-skin .default-ic {
    color: #293756!important
  }
  
  .me-skin .default-ic:focus,.me-skin .default-ic:hover {
    color: #293756
  }
  
  .me-skin .dropdown-content li:not(.disabled) span,.me-skin .md-form .prefix.active,.me-skin input[type=email]:focus:not([readonly])+label,.me-skin input[type=text]:focus:not([readonly])+label,.me-skin input[type=password]:focus:not([readonly])+label,.me-skin textarea.md-textarea:focus:not([readonly])+label {
    color: #40c6c6
  }
  
  .me-skin .card .btn-action {
    background: #293756
  }
  
  .me-skin .card .btn-action:focus,.me-skin .card .btn-action:hover {
    background-color: #314267!important
  }
  
  .me-skin .card .btn-action.active {
    background-color: #080b11!important
  }
  
  .me-skin input[type=email]:focus:not([readonly]),.me-skin input[type=text]:focus:not([readonly]),.me-skin input[type=password]:focus:not([readonly]),.me-skin textarea.md-textarea:focus:not([readonly]) {
    border-color: #40c6c6;
    -webkit-box-shadow: 0 1px 0 0 #40c6c6;
    box-shadow: 0 1px 0 0 #40c6c6
  }
  
  .me-skin input[type=checkbox]:checked+label:before {
    border-right: 2px solid #40c6c6;
    border-bottom: 2px solid #40c6c6
  }
  
  .me-skin input[type=checkbox].filled-in:checked+label:before {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff
  }
  
  .me-skin input[type=checkbox].filled-in:checked+label:after {
    background-color: #40c6c6;
    border-color: #40c6c6
  }
  
  .me-skin .top-nav-collapse {
    background-color: #353b50
  }
  
  .me-skin .carousel-multi-item .carousel-indicators li,.me-skin .carousel-multi-item .carousel-indicators li.active,.me-skin .carousel-multi-item .controls-top>a {
    background-color: #40c6c6
  }
  
  .me-skin .card-header,.me-skin .form-header {
    background-color: #48c8c8
  }
  
  .me-skin .spinner-primary-color,.me-skin .spinner-primary-color-only {
    border-color: #309e9e
  }
  
  .me-skin .pagination-primary-color .page-item.active .page-link,.me-skin .pagination-primary-color .page-item.active .page-link:focus,.me-skin .pagination-primary-color .page-item.active .page-link:hover {
    color: #fff;
    background-color: #309e9e
  }
  
  .me-skin .pagination-primary-color .page-link {
    color: #309e9e
  }
  
  .me-skin .pagination-primary-color .page-link:focus {
    -webkit-box-shadow: none;
    box-shadow: none
  }